/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html,
body {
    font-family: "Montserrat", Avenir, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

/* links */

a, 
a:active,
a:focus,
a:visited {
    color: inherit;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
a:hover {
    color: #ff6902;
    text-decoration: none;
}

footer a:hover {
    color: rgb(38, 65, 118);
    text-decoration: none;
}

/* height + width utilities */

.min-50 {
    min-height: 50vh;
}
.min-70 {
    min-height: 70vh;
}
.min-100 {
    min-height: 100vh;
}
.fs {
    min-height: 100vh;
}
.w-50-sm {
        width: 50%;
    }

/*  buttons */

.btn, 
.btn-default,
.btn-lg {
    transition: all .3s ease-in-out;    
}
.btn-orange,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:visited {
    background: #ff6902;
    border: 1px solid #ff6902;
    color: white;
    font-weight: bold;
}
.btn-orange:hover {
    background: transparent;
    border: 1px solid #ff6902;
    color: #ff6902;
}
.btn-outline-orange,
.btn-outline-orange:active,
.btn-outline-orange:focus,
.btn-outline-orange:visited {
    background: transparent;
    border: 1px solid #ff6902;
    color: #ff6902;
}
.btn-outline-orange:hover {
    background: #ff6902;
    border: 1px solid #ff6902;
    color: #fff;
}

/* text */

.site-title {
/*    font-size: 10vmin;*/
    font-size: 5vw;
    font-weight: 900;
    line-height: 110%;
    margin-top: 10px;
    margin-bottom: 0;
}
.site-sub-title,
.page-sub-title {
    font-size: 4vmin;
}
.page-title {
    font-size: 15vmin;
    font-weight: 900;
    letter-spacing: -8px;
    line-height: 90%;
}
.section-title {
    font-size: 8vmin;
    font-size: 6vmin;
}
.section-sub-title {
    font-size: 6vmin;
}
.knockout {
     color: white;
     -webkit-text-fill-color: transparent;
     background: -webkit-linear-gradient(transparent, transparent),
             url(/img/jaxx-jump-2.jpg) center bottom;
     background: -o-linear-gradient(transparent, transparent);
     background-size: cover;
     -webkit-background-clip: text;
}

.knockout-2 {
    color: white;
     -webkit-text-fill-color: transparent;
    
/*    knockout people*/
    background: -webkit-linear-gradient(transparent, transparent),
             url(https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    
/*    crowd throwing*/
/*
    background: -webkit-linear-gradient(transparent, transparent),
             url(https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    
*/
/*    knockout sunset */
/*
    background: -webkit-linear-gradient(transparent, transparent),
             url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05cc20d5b0bde7ae0d12f916c11aa18e&auto=format&fit=crop&w=1078&q=80) center;
*/

    background-size: 110%;
    background-blend-mode: multiply;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slide 13s ease-in-out;
}

.knockout-3 {
    color: white;
     -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
             url(https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background: -webkit-linear-gradient(transparent, transparent),
             url(https://images.unsplash.com/photo-1529307145738-af20ddbc9255?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=93fc4dea9a9d47dc5cebfc6ae4b3eb63&auto=format&fit=crop&w=925&q=80) center;
    background-size: 110%;
    background-blend-mode: multiply;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slide 13s ease-in-out;
}

.knockout-4 {
    color: white;
     -webkit-text-fill-color: transparent;
     background: -webkit-linear-gradient(transparent, transparent),
             url(/img/jaxx-jump-2.jpg) center center;
    background-size: 110%;
    background-blend-mode: multiply;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slide 13s ease-in-out;
}

/* knockout animation */
@keyframes slide {
   0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
.site-title-2 {
    font-size: 30vw;
    font-size: 35vw;
    font-weight: 900;
    letter-spacing: -60px;
    padding: 0 60px 0 0;
}
.site-title-3 {
    font-size: 25vw;
    font-weight: 900;
    letter-spacing: -40px;
    padding: 0 40px 0 0;
/*    top: 400px;*/
    text-transform: uppercase;
}

.word-break {
    word-break: break-all;
}

/* fonts + text effects */

.line-height {
    line-height: 80%;
}

.opacity {
    opacity: 0.8;
}
.cursive {
    font-family: 'Mr Dafoe', cursive;
}
.x-bold {
    font-weight: 900;
}
.stroke-n {
    color: transparent;
    -webkit-text-stroke: 3px rgb(38, 65, 118); 
}
.stroke-w {
    color: transparent;
    -webkit-text-stroke: 3px #fff; 
}
.skew {
    transform: skew(0,-4.7deg);
}
.skew-l {
    transform: skew(0,4.7deg);
}

/* position */

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.bottom-0 {
    bottom: 0;
}
.text-box-right {
    right: 20%;
}
.text-box-left {
    left: 20%;
}

.z--1 {z-index: -1;}
.z-0 {z-index: 0;}
.z-1 {z-index: 1;}
.z-2 {z-index: 2;}
.z-3 {z-index: 3;}


/* borders */

.border-thick-white {
    border: 10px solid #fff!important;
}
.border-thick-black {
    border: 10px solid #000!important;
}
.border-thick {
    border: 10px solid #dee2e6!important;
}

/* animation */

.text-animate .letter,
.text-animate-2 .letter {
  display: inline-block;
  line-height: 1em;
}


/* shapes ==================*/

.circle {
    background: #D6D6D6;
    border-radius: 100%;
    height: 100%;
    position: absolute;
    width: 50%;
    z-index: 0;
}
.rect {
    background: #D6D6D6;
    height: 100%;
    position: absolute;
    width: 50%;
    z-index: 0;
}
.parallelo {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);    
}

/* clip path */

.circle-left {
    -webkit-clip-path: circle(61.0% at 35% 68%);
    clip-path: circle(61.0% at 35% 68%);
}
.angle-right {
    -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
}
.angle-bottom {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
}
.angle-rtl {
    -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
}
.angle-ltr {
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.arrow-left {
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.arrow-right {
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.arrow-down {
	-webkit-clip-path: polygon(50% 100%, 100% 75%, 100% 0, 0 0, 0 75%);
	clip-path: polygon(50% 100%, 100% 75%, 100% 0, 0 0, 0 75%);
}

.square-o {
    background: #ff6902; 
    height: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px; 
}
.square-w {
    background: #fff; 
    height: 300px;
    position: absolute;
    top: -100px;
    right: -100px;
    width: 300px; 
}

/* patterns */

.bg-dots {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.16' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}


/* colors ===================*/

.orange {
    color: #ff6902;
}
.navy {
    color: rgb(38, 65, 118);
}

/* bg colors ======================*/

.bg-orange {
    background: #ff6902;
}
.bg-orange-opaq {
    background: rgba(255, 105, 2,0.4);
}
.bg-navy {
    background: rgb(38, 65, 118);
}
.bg-turq {
    background: rgb(64, 224, 208);
    background: turquoise;
}
.bg-purple {
    background: #fb99f4;
}
.bg-white-op {
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.bg-black {
    background: #000;
}
.bg-download-gradient {
    background: rgb(38, 65, 118);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(38, 65, 118, 0.8), rgb(5, 117, 230, 0.8)
), url(/img/jaxx-people-1.jpeg) center; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(38, 65, 118, 0.8), rgb(5, 117, 230, 0.8)
), url(https://images.unsplash.com/photo-1527153907022-465ee4752fdc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ed05c707f6cb2dd027a718a8797d02f6&auto=format&fit=crop&w=1000&q=80) center; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

/* images + logos ======================*/

.img {
    height: auto;
    object-fit: cover;
    width: 100%;
}

.img-full {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* jaxx logo ======================*/

.jaxx-navbar-brand {
    height: auto;
    margin: 10px 10px 0;
    width: 85px;
}
.jaxx-mobile-menu {
    height: auto;
    width: 40px;
}
.jaxx-logo-jumbo {
    height: auto;
    margin-bottom: -20px;
    width: 20vw;  
}
.jaxx-logo,
.jaxx-heart-logo {
    height: auto;
    width: 500px;
}
.jaxx-logo-text {
    height: auto;
    width: 20vmin;
    margin-top: 30px;
}

/* partnerships logos ======================*/

.partner-logo {
    height: auto;
    margin: 10px 0;
    max-width: 100%;
}
.big-logo {
    width: 110px;
}

/* downloads --> itunes and google play logos */
.store-logo,
.store-logo-2 {
	height: auto;	
}
.store-logo {
	width: 150px;	
}
.store-logo-2 {
	width: 175px;
}

video {
    height: 100%;
/*    object-fit: cover;*/
    position: absolute;
    width: 100%;
    z-index: 0;
}

/* bg images ======================*/

.bg-img-3 {
    background: url(https://images.pexels.com/photos/1093906/pexels-photo-1093906.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center; 
    background: url(/img/jaxx-people-3.jpeg) center; 
    background-size: cover; 
}
.bg-img-5 {
    background: url(https://thumbs.mic.com/MzRlMTE0ODRlMSMvLTgtVUN5LUJoTzJJbWVGcFV5N3ppWTdsaHljPS9maXQtaW4vNzYweDAvZmlsdGVyczpub191cHNjYWxlKCk6cXVhbGl0eSg4MCk6bm9fdXBzY2FsZSgpOmZvcm1hdChqcGVnKS9odHRwOi8vaW1hZ2VzLm1pYy5jb20vYXF2YXJrenVudGdnZHl2ZXJza2sxYXp3bXl6a2NhcXV6a202dGY5emVlb293OG9pd3RsbzV2bGl3Z2pwZnB4ay5naWY.gif) center;
    background-size: contain;
}
.bg-img-6 {
    background: url(https://images.pexels.com/photos/1117256/pexels-photo-1117256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background-size: cover;
    background-attachment: fixed;
}
.bg-img-toronto-1 {
    background: url(https://images.pexels.com/photos/137090/pexels-photo-137090.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background: url(/img/jaxx-toronto-2.jpeg) center;
    background-size: cover;
}

/* devices */

.bg-img-laptop {
    background: url(/img/jaxx-laptop.jpeg) center;
    background-attachment: fixed;
    background-size: cover;
}
.bg-img-multi-platform {
    background: url(/img/jaxx-multi-platform.png) right no-repeat;
    background-size: contain;
}
.bg-img-devices-2 {
    background: url(/img/jaxx-multi-device.jpeg) center;
    background-size: cover;
}
.bg-img-devices-3 {
    background: url(/img/jaxx-multi-device-2.jpeg) center;
    background-size: cover;
}
.bg-img-devices-4 {
    background: url(/img/jaxx-two-devices.png) center no-repeat;
    background-size: 100%;
}
.bg-img-iphone-1 {
    background: url(/img/jaxx-iphone-1.gif) center;
    background-size: contain;
}
.bg-img-iphone-2 {
    background: url(/img/iphone-black.gif) center;
    background-size: 50%;
}
.bg-img-iphone-3 {
    background: url(/img/jaxx-iphone-3.gif) center;
    background-size: cover;
}
.bg-img-iphone-4 {
    background: url(/img/jaxx-iphone-4.gif) center;
    background-size: cover;
}
.bg-img-iphone-5 {
    background: url(/img/jaxx-iphone-5.jpg) center;
    background-size: cover;
}
.bg-img-iphone-white {
    background: url(/img/jaxx-iphone-white.jpeg) center;
    background-size: cover;
    background-attachment: fixed;
}
.bg-img-android {
    background: url(http://www.innjoo.com/Public/images/max3/max3_c_4-1.png) center top;
    background: url(/img/jaxx-android.png) left bottom no-repeat;
    background-size: cover;
}
.bg-img-dashboard {
    background: url(https://images.pexels.com/photos/1124066/pexels-photo-1124066.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background: url(https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background: url(https://images.pexels.com/photos/1253646/pexels-photo-1253646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background-size: cover;
    background-attachment: fixed;
}
.bg-img-data {
    background: url(https://images.pexels.com/photos/241544/pexels-photo-241544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background-size: cover;
    background-attachment: fixed;
/*    pexels*/
}

/* page/section images */

/* home page ======================*/

.bg-img-banner-home {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/img/jaxx-jump-2.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-fs-img-banner-2 {
    background: url(/img/jaxx-jump-2.jpg) center;    
/*    people*/
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    
/*    confetti*/
/*    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;*/
    
/*    mountains*/
/*    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05cc20d5b0bde7ae0d12f916c11aa18e&auto=format&fit=crop&w=1078&q=80) center;*/
	
/*	jumper */
/*	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529307145738-af20ddbc9255?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=93fc4dea9a9d47dc5cebfc6ae4b3eb63&auto=format&fit=crop&w=925&q=80) center;*/
	
/*	rocks jump */
/*	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/jaxx-jump-2.jpg) center;*/
    background-size: cover;
    background-attachment: fixed;
}

.bg-img-banner-home-3 {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529307145738-af20ddbc9255?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=93fc4dea9a9d47dc5cebfc6ae4b3eb63&auto=format&fit=crop&w=925&q=80) center;
    background-size: cover;
    background-attachment: fixed;
}
.bg-img-mountains {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05cc20d5b0bde7ae0d12f916c11aa18e&auto=format&fit=crop&w=1078&q=80) center;
    background-size: cover;
}


.bg-img-1 {
    background: url(/img/jaxx-people-1.jpeg) center;
    background-size: cover;
    background-attachment: fixed;
}

.downloads-img {
    position: relative;
    right: -200px;
    z-index: -1;
}
.bg-img-downloads {
    background: url(/img/jaxx-multidevice-outline-3.svg) center;
    background-size: 50%;
    background-attachment: fixed;
}
.bg-img-partners {
    background: url(/img/partner-logos/banner.jpg) center;
    background: url(https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d3a9ac2b411e58b72bc6170216bccad2&auto=format&fit=crop&w=1050&q=80) center;
    background-size: cover;
    background-attachment: fixed;
}

/* cookies consent banner ======================*/
/*
.cc-window {
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
}
*/
.cc-message {
    font-weight: bold;
}
.cc-message a, 
.cc-link {
    color: #ff6902;
}


/* svg animations ======================*/

/* multidevice downloads section */

#jaxx_liberty,
#multiDevice,
#jaxx-heart,
#jaxx_heart_banner,
.jaxx-multi-device,
#jaxx-logo-cta {
  fill-opacity: 0;
  transition: fill-opacity .7s;
}

#jaxx_liberty.finished,
#multiDevice.finished,
#jaxx-heart.finished,
#jaxx_heart_banner.finished,
.jaxx-multi-device.finished,
#jaxx-logo-cta.finished {
  fill-opacity: 1;
}

/*  about page ======================*/

.bg-img-about {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-people-2.jpeg) center 20%;
    background-size: cover;
}
.bg-img-jump {
    background: url(/img/jaxx-jump-2.jpg) center;
    background-size: cover;
}
.bg-img-heart {
    background: url(/img/jaxx-heart-hands.jpeg) center;
    background-size: cover;
}
.bg-img-office {
    background: url(/img/careers-update.jpg) center;
/*    background: url(/img/office-70.jpg) center;*/
    background-size: cover;
}

/*  features page ======================*/

/* swiper */

span.swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 100%;
    background: #d6d6d6;
    opacity: .5;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff;
    color: #fff;
    opacity: .9;
}

    .swiper-container {
      width: 100%;
      height: 100vh;
      background: #000;
    }
    .swiper-slide {
      font-size: 18px;
      color:#fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
    }
    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1476611317561-60117649dd94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8618fb66616c1d53a41705312c034068&auto=format&fit=crop&w=1050&q=80);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    .swiper-slide .title {
/*      font-size: 41px;*/
      font-weight: 300;
    }
    .swiper-slide .subtitle {
      font-size: 21px;
    }
    .swiper-slide .text {
        width: 50%;
    }
      .bg-slide-1 {
          background: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/607de731234507.564a1d2420e5f.gif) center no-repeat;
          background: url(/img/jaxx-multi-platform.png) center no-repeat;
          background-size: 70%;
      }
      .bg-slide-2 {
          background: url(https://s.aolcdn.com/hss/storage/midas/af0ce559ac23bed7ce65042d294e3659/205509947/share_location_english_ios_blog.gif) center no-repeat;
          background: url(/img/jaxx-two-devices.png) center no-repeat;
          background-size: 60%;
      }
      .bg-slide-3 {
          background: url(http://thecollective.ca/wp2/wp-content/uploads/2016/02/Groupquest-macbook2.gif) center no-repeat;
          background-size: 60%;
      }
      .bg-slide-4 {
          background: url(https://media1.tenor.com/images/2ffb9c5c3c1d570761b81828fde87c21/tenor.gif?itemid=3419040) center no-repeat;
          background-size: 30%;
      }
      .bg-slide-5 {
          background: url(https://bornmkg.com/wp-content/uploads/2015/07/ezgif.com-resize.gif) center no-repeat;
          background-size: 60%;
      }
      .bg-slide-6 {
          background: url(http://78.media.tumblr.com/1b0cf14a3c5fe3de19fe69d162d74f7a/tumblr_msyxgubnuu1s9ye2lo1_400.gif) center no-repeat;
          background-size: contain;
      }

/* downloads ======================*/

.bg-img-banner-downloads {
/*
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-dancing.jpeg) center;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
*/
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/jaxx-jump-2.jpg) center;
    background-size: cover;
}

/* security ======================*/

.bg-img-banner-security {
    background: linear-gradient(rgb(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://thumb9.shutterstock.com/display_pic_with_logo/257323/286532618/stock-photo-collection-of-different-caucasian-women-and-men-ranging-from-to-years-286532618.jpg) center; /* ivan */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-security-gallery-bw.jpg) center; /*gallery b&w */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-security-tvs.jpg) center;
/*    background: url(/img/jaxx-security-hands.png);*/
    background-size: cover;
    background-attachment: fixed;
}
.img-shield {
    filter: grayscale(100);
    opacity: 0.2;
    height: auto;
    position: absolute;
    width: 300px;
    z-index: 0;
}
.bg-img-people-1 {
    background: url(/img/jaxx-four-people.jpeg) center;
    background-size: cover;
}

/* support ======================*/

.bg-img-banner-support {
    background: url(/img/jaxx-heart-hands-2.jpeg) center;
    background: linear-gradient(rgb(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/6552/nature-person-red-woman.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background-size: cover;
}

/* changelog ======================*/

.bg-img-banner-changelog {
    background: linear-gradient(rgb(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/877699/pexels-photo-877699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background-size: cover;
    background-attachment: fixed;
}

/* legal ======================*/

.bg-img-banner-legal {
    background: linear-gradient(rgb(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/877699/pexels-photo-877699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background-size: cover;
    background-attachment: fixed;
}

/* features phone slider ======================*/

.bg-img-banner-features {
    background: url(/img/jaxxliberty-phone-hand.jpg) center;
    background: url(https://images.unsplash.com/photo-1525772113380-aa8ed1acf3b7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a21ce135ec3c8d74846902fdfccbe32d&auto=format&fit=crop&w=800&q=80) center;
    background: linear-gradient(rgb(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/955450/pexels-photo-955450.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
/*    background: url(https://images.pexels.com/photos/955450/pexels-photo-955450.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;*/
    background-size: cover;
    background-attachment: fixed;
}
.bg-img-park {
    background: url(https://images.pexels.com/photos/571143/pexels-photo-571143.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background: url(https://images.unsplash.com/photo-1525772113380-aa8ed1acf3b7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a21ce135ec3c8d74846902fdfccbe32d&auto=format&fit=crop&w=800&q=80) center;
    background: url(https://images.unsplash.com/photo-1527153907022-465ee4752fdc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ed05c707f6cb2dd027a718a8797d02f6&auto=format&fit=crop&w=1000&q=80) center;
    background: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07bcd69444b1da123c309e5f4485371b&auto=format&fit=crop&w=1050&q=80) center;
    background-size: cover;
    background-attachment: fixed;
}
.bg-img-community {
    background: linear-gradient(rgb(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background-size: cover;
}



/* section styles ======================*/


/* nav ======================*/

#home nav, 
#home .navbar {
	background: transparent;
    border-bottom: 0;
    transition: all .3s ease-in-out; 
}
nav,
.navbar {
    background: rgb(0, 0, 0, 0.3);
    border-bottom: 1px solid lightgrey;
    transition: all .3s ease-in-out;    
}
.nav-link,
.nav-item {
    color: #fff;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}
nav .active {
    color: #ff6902;
}
/* for navbar change color on scroll */
#home nav.scrolled,
.navbar.fixed-top.scrolled {
    border-bottom: 1px solid rgba(38, 65, 118);
    border-bottom: none;
    background-color: rgba(38, 65, 118, 0.5); !important;
    background-color: rgba(38, 65, 118); !important;
    transition: all 200ms ease-in-out;
}
/* mobile nav toggler rotate on hover */
.jaxx-mobile-menu {
    transition: all .3s ease-in-out;
}
.jaxx-mobile-menu:hover {
    color: white;
    transform: rotate(90deg);
}

/*  icons */

i {
    font-size: 7vmin;
    padding: 20px 30px;
}

#socialProof i {
    color: transparent;
    font-size: 10vmin;
    -webkit-text-stroke: 2px grey;
    -webkit-text-stroke: 2px #ff6902;
}

/* home ======================*/


/* bs carousel */

/*stop slides from changing size w text*/
.item .active {
    margin: auto;
}
/* make carousel full screen */
/*
.carousel,.item {height:100%;}
.carousel-inner{height:100%;}
*/


.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}
.carousel-indicators > li.active {
    background: black;
}

/* stock styles */
.carousel-indicators-2 {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;    
}

.carousel-indicators-2 > li,
.carousel-indicators-2 > li.active{
    width: 100px;
    height: 25px;
    border-radius: 0;
    border: solid 1px grey;
    border: 0;
    background: lightgrey;
/*    background: transparent;*/
    text-indent: 0;
}
.carousel-indicators-2 > li.active {
    background: white;
/*    background: transparent;*/
}


/* careers */


/*  footer ======================*/

footer li a {
/*    font-size: 18px;*/
}
footer p {
    font-size: 16px;
}
.footer-leaf {
    height: 40px;    
}
.copyright {
    background: #ff6902;
}


/* media queries ======================*/

@media (max-width: 1200px) {
    /*    md width class */
    .downloads-img {
        height: auto;
        width: 100%;  
    }
}

@media (max-width: 992px) {
    /*  mobile menu */
    .navbar-toggler {
        padding: 0; 
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0; 
    }
    .nav-link {
        border-top: 1px solid lightgrey;
        padding: 1rem 1rem;
    }
    .nav-link:hover {
        color: #ff6902;
    }
     div[class*="bg-img"] {
        min-height: 50vh;
    }
    div[class*="min-100"] {
        min-height: 50vh;
    }
    /*  make all bg images scroll */
    div[class*="bg-img"] {
        background-attachment: scroll;
    }
    .page-title {
        font-size: 12vmin;
        letter-spacing: -5px;
    }
    /* flex order */
    .o-1 {
        order: 1;
    }
    .o-12 {
        order: 12;
    }
    /*front page downloads img*/
    .downloads-img {
        height: auto;
        left: 0;
        width: 100%;  
    }
     /* download buttons */
/*
    #download .btn-lg {
        font-size: 18px;
        padding: .375rem .75rem;
        padding: 5px 10px;
    }
*/
    
}
@media (max-width: 768px) {
    .jaxx-logo-jumbo {
        height: auto;
        margin-bottom: -10;
        width: 200px;  
    }
    /*homepage front title */
    .site-title {
        font-size: 8vw;
    }
    .site-sub-title {
        font-size: 5vmin;
    }
    .page-title {
        font-size: 15vmin;
        font-weight: 900;
        letter-spacing: -4px;
        line-height: 80%;
    }
    
    /* partnerships logo resize for mobile*/
    .partner-logo-sm {
        width: 300px;
    }
/*    features page */
    .swiper-slide .text {
        width: 100%;
    }
}

@media (max-width: 600px) {
    
    .jaxx-logo {
        width: 300px;
    }
    /*homepage front title */
    .site-title {
        font-size: 11vw;
        margin-bottom: 10px;
    }
    .p-5-sm {
      padding: 3rem;  
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
