/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html,
body {
    font-family: 'Oswald', Montserrat, Avenir, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

/* links */

a, 
a:active,
a:focus,
a:visited {
    color: inherit;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
a:hover {
    color: #ff6902;
    text-decoration: none;
}

footer a:hover {
    color: rgb(38, 65, 118);
    text-decoration: none;
}

/* height + width utilities */

.min-25 {
    min-height: 25vh;
}
.min-50 {
    min-height: 50vh;
}
.min-70 {
    min-height: 70vh;
}
.min-100 {
    min-height: 100vh;
}
.fs {
    min-height: 100vh;
}
.w-50-sm {
        width: 50%;
    }

/*  buttons */

.btn, 
.btn-default,
.btn-lg {
    transition: all .3s ease-in-out;    
}
.btn-orange,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:visited {
    background: #ff6902;
/*    background: linear-gradient(to right,#eb5e57 0%,#f4cc54 100%);*/
    border: 1px solid #ff6902;
/*    border-color: linear-gradient(to right,#eb5e57 0%,#f4cc54 100%);*/
    color: white;
    font-weight: bold;
}
.btn-orange:hover {
    background: transparent;
    border: 1px solid #ff6902;
    color: #ff6902;
}
.btn-outline-orange,
.btn-outline-orange:active,
.btn-outline-orange:focus,
.btn-outline-orange:visited {
    background: transparent;
    border: 1px solid #ff6902;
    color: #ff6902;
}
.btn-outline-orange:hover {
    background: #ff6902;
    border: 1px solid #ff6902;
    color: #fff;
}

.btn-navy,
.btn-navy:active,
.btn-navy:focus,
.btn-navy:visited {
    background: rgb(38, 66, 119);
    border: 1px solid rgb(38, 66, 119);
    color: white;
    font-weight: bold;
}
.btn-navy:hover {
    background: transparent;
    border: 1px solid rgb(38, 66, 119);
    color: rgb(38, 66, 119);
}

/* borders */

.border-navy {
    border-color: rgb(38, 66, 119) !important;
}
.border-orange {
    border-color: #ff6902 !important;
}
.border-grey {
    border-color: lightgrey !important;
}

/* text */

h1, h2, h3, h4, h5, h6, p, button, .btn {
    font-family: 'Oswald', Montserrat, Avenir, Helvetica, sans-serif;
}
p {
    font-size: 19px;
    font-weight: 300;
}
.site-title {
/*    font-size: 10vmin;*/
    font-size: 5vw;
    font-size: 8vw;
    font-size: 10vmin;
    font-weight: 300;
    line-height: 110%;
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.site-sub-title,
.page-sub-title {
    font-size: 4vmin;
}
.page-title {
    font-size: 15vmin;
    font-weight: 900;
    letter-spacing: -6px;
    line-height: 90%;
}
.section-title {
    font-size: 8vmin;
/*    font-size: 6vmin;*/
    text-transform: uppercase;
}
.section-sub-title {
    font-size: 6vmin;
}

.knockout-2 {
    color: white;
     -webkit-text-fill-color: transparent;
    
/*    knockout people*/
    background: -webkit-linear-gradient(transparent, transparent),
             url(https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    
/*    crowd throwing*/
/*
    background: -webkit-linear-gradient(transparent, transparent),
             url(https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    
*/
/*    knockout sunset */
/*
    background: -webkit-linear-gradient(transparent, transparent),
             url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05cc20d5b0bde7ae0d12f916c11aa18e&auto=format&fit=crop&w=1078&q=80) center;
*/

    background-size: 110%;
    background-blend-mode: multiply;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slide 13s ease-in-out;
}

.site-title-2 {
    font-size: 30vw;
    font-size: 35vw;
    font-weight: 900;
/*    letter-spacing: -60px;*/
/*    padding: 0 60px 0 0;*/
}
.site-title-3 {
    font-size: 25vw;
    font-weight: 900;
    letter-spacing: -40px;
    padding: 0 40px 0 0;
/*    top: 400px;*/
    text-transform: uppercase;
}

.word-break {
    word-break: break-all;
}

/* fonts + text effects */

.line-height {
    line-height: 80%;
}

.opacity {
    opacity: 0.8;
}
.text-op {
    color: rgba(0,0,0,0.03);
    font-size: 10vw;
}
.cursive {
    font-family: 'Mr Dafoe', cursive;
}
.x-bold {
    font-weight: 900;
}
.stroke-n {
    color: transparent;
    -webkit-text-stroke: 1px rgb(38, 65, 118); 
}
.stroke-o {
    color: transparent;
    -webkit-text-stroke: 0.5px #ff6902; 
    -webkit-text-stroke: 0.5px rgba(255, 105, 2, 0.5); 
}
.stroke-p {
    color: transparent;
    -webkit-text-stroke: 1px #fb99f4; 
}
.stroke-t {
    color: transparent;
    -webkit-text-stroke: 1px turquoise; 
    -webkit-text-stroke: 1px rgba(64, 224, 208, 0.3); 
}
.skew {
    transform: skew(0,-4.7deg);
}
.skew-l {
    transform: skew(0,4.7deg);
}
/*curerntly unused*/
.highlight {
    background-color: yellow;
    height: 50px;
}
.perspective {
    perspective: 400px;
}


/* position */

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}
.bottom-0 {
    bottom: 0;
}

.z--1 {z-index: -1;}
.z-0 {z-index: 0;}
.z-1 {z-index: 1;}
.z-2 {z-index: 2;}
.z-3 {z-index: 3;}

/* animation */

.animated-slow {
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
/* shapes ==================*/

.circle {
/*    background: transparent;*/
    border-radius: 100%;
    display: block;
    height: 300px;
    margin: 0 auto;
    left: 0;
    left: 0;
    position: absolute;
    width: 300px;
    z-index: 0;
}
.circle-clip {
    -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
}
.rect {
    background: #D6D6D6;
    height: 100%;
    position: absolute;
    width: 50%;
    z-index: 0;
}
.parallelo {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);    
}

/* clip path */

.circle-left {
    -webkit-clip-path: circle(61.0% at 35% 68%);
    clip-path: circle(61.0% at 35% 68%);
}
/*top rtl angle*/
.angle-right {
    -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
}
.angle-bottom {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
}
.angle-rtl {
    -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
}
.angle-ltr {
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.arrow-left {
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.arrow-right {
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.arrow-down {
	-webkit-clip-path: polygon(50% 100%, 100% 75%, 100% 0, 0 0, 0 75%);
	clip-path: polygon(50% 100%, 100% 75%, 100% 0, 0 0, 0 75%);
}

.square-o {
    background: #ff6902; 
    height: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px; 
}
.square-w {
    background: #fff; 
    height: 300px;
    position: absolute;
    top: -100px;
    right: -100px;
    width: 300px; 
}

/* patterns */

.bg-dots {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.16' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}


/* colors ===================*/

.orange {
    color: #ff6902;
}
.navy {
    color: rgb(38, 65, 118);
    color: rgb(38, 66, 119); /* from style guide */
}

/* bg colors ======================*/

.bg-orange {
    background-color: #ff6902 !important;
}
.bg-orange-op {
    background-color: rgba(255, 105, 2, 0.5);
}
.bg-navy {
    background-color: rgb(38, 65, 118);
    background-color: rgb(38, 66, 119);
}
.bg-turq {
    background-color: rgb(64, 224, 208);
    background-color: #40e0d0 !important;
}
.bg-purple {
    background-color: #fb99f4 !important;
}
.bg-yellow {
    background-color: yellow !important;
}
.bg-white-op {
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.bg-black {
    background: #000;
}
.bg-navy-gradient {
     background: linear-gradient(to bottom right, rgb(38, 65, 118, 0.8), rgb(5, 117, 230, 0.8));
}
.bg-orange-angle {
    background: linear-gradient(300deg, rgba(255,255,255,0.9) 60%, #ff6902 60%);
}
.bg-turq-angle {
    background: linear-gradient(300deg, rgba(255,255,255,0.9) 60%, rgb(64, 224, 208) 60%);
}
.bg-turq-angle-right {
    background: linear-gradient(120deg, rgba(255,255,255,0.9) 60%, rgb(64, 224, 208) 60%);
}
.bg-warning-angle {
    background: linear-gradient(300deg, rgba(255,255,255,0.9) 60%, #ffc107 60%);
}
.bg-light-grey {
    background-color: rgba(0,0,0,0.1);
}
/* images + logos ======================*/

.img {
    height: auto;
    object-fit: cover;
    width: 100%;
}

.img-full {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* jaxx logo ======================*/

.jaxx-navbar-brand {
    height: auto;
    margin: 10px 10px 0;
    width: 85px;
}
.jaxx-mobile-menu {
    height: auto;
    width: 40px;
}
.jaxx-logo-jumbo {
    height: auto;
    margin-bottom: -20px;
    width: 20vw;  
}
.jaxx-logo,
.jaxx-heart-logo {
    height: auto;
    width: 500px;
}
.jaxx-logo-text,
.jaxx-logo-heart {
    height: auto;
    width: 20vmin;
    margin-top: 30px;
}

/* partnerships logos ======================*/

.partner-logo {
    height: auto;
    margin: 10px 0;
    max-width: 100%;
}
.big-logo {
    width: 110px;
}

/* downloads --> itunes and google play logos */
.store-logo,
.store-logo-2 {
	height: auto;	
}
.store-logo {
	width: 150px;	
}
.store-logo-2 {
	width: 210px;
}

/* bg images ======================*/

.bg-img-body {
    background: url(/img/jaxx-slanted-gradient.svg) center; 
    background-size: cover; 
}

/* devices */

.bg-img-multi-platform {
    background: url(/img/jaxx-multi-platform.png) right no-repeat;
    background-size: contain;
}
.bg-img-devices-2 {
    background: url(/img/jaxx-multi-device.jpeg) center;
    background-size: cover;
}
.bg-img-devices-3 {
    background: url(/img/jaxx-multi-device-2.jpeg) center;
    background-size: cover;
}
.bg-img-devices-4 {
    background: url(/img/jaxx-two-devices.png) center no-repeat;
    background-size: 100%;
}
/*
.bg-img-android {
    background: url(/img/jaxx-android.png) left bottom no-repeat;
    background-size: cover;
}
*/
.bg-img-dashboard {
    background: url(https://images.pexels.com/photos/1124066/pexels-photo-1124066.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background: url(/img/jaxx-android.png) right;
    background-size: cover;
}

/* page/section images */

/* home page ======================*/

#home .jumbotron {
    font-family: 'Montserrat', Oswald, Avenir, Helvetica, sans-serif;
}

/* banner jaxx logo svg fill animation */

#jaxx_liberty {
    fill-opacity: 0;
}
#jaxx_liberty.finished {
    fill-opacity: 1;
    transition: all 1s ease-in-out;
}
/* home final banner photo */
/*Photo by Helena Lopes on Unsplash*/
.bg-fs-img-banner-home {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-home-banner.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}

/*
.bg-img-mountains {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05cc20d5b0bde7ae0d12f916c11aa18e&auto=format&fit=crop&w=1078&q=80) center;
    background-size: cover;
}
*/

.jaxx-3-screens {
    height: auto;
    width: 100%;
}
.bg-img-app-homepage {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-app-homescreen.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}

/* multidevice img style */
.downloads-img {
    position: relative;
    right: -200px;
    z-index: -1;
}
/* downloads section bg img */
.bg-img-downloads {
    background: url(/img/jaxx-multidevice-outline-3.svg) center;
    background-size: 50%;
    background-attachment: fixed;
}
/* community section bg img -- Photo by Nicholas Green on Unsplash */
.bg-img-partners {
    background: url(/img/jaxx-partners.jpeg) center;
    background-size: cover;
}
/*download section image + gradient*/
/*Photo by rawpixel on Unsplash*/
.bg-download-gradient {
    background: rgb(38, 65, 118);  /* fallback for old browsers */
    background: linear-gradient(to right, rgba(38, 65, 118, 0.8), rgba(5, 117, 230, 0.8)), url(/img/jaxx-group-circle.jpg) center; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-blend-mode: multiply;
    background-size: cover;
}

/* cookies consent banner ======================*/

.cc-message {
    font-family: Montserrat, Avenir, Helvetica, sans-serif;
    font-size: 15px;
}
.cc-message a, 
.cc-link {
    color: #ff6902;
}

/*  about page ======================*/

/*about banner:  Photo by Sammie Vasquez on Unsplash*/
.bg-img-about {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/img/jaxx-people-2.jpg) center 20%;
    background-size: cover;
}
/*
.bg-img-about-2 {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-people-3.jpeg) center 20%;
    background-size: cover;
}
*/
/*Photo by Ian Schneider on Unsplash*/
.bg-img-about-passion {
    background: url(/img/jaxx-about-passion-redux.jpg) center 20%;
    background-size: cover;
}
/* pexels */
.bg-img-jump {
    background: url(/img/jaxx-jump-2.jpg) center;
    background: url(/img/jaxx-jump-2-redux.jpg) center;
    background-size: cover;
}
/* pexels */
.bg-img-heart {
    background: url(/img/jaxx-heart-hands.jpg) center;
    background-size: cover;
}
.bg-img-office {
    background: url(/img/jaxx-careers-office.jpg) center;
    background-size: cover;
}
.bg-img-office-2 {
    background: url(/img/decentral-office-original-redux.jpg) center;
    background-size: cover;
}

/*  features og page ======================*/

/* features-og page modals */

/*features modal */

.modal.fade{
-webkit-transition:opacity .5s linear, top .5s ease-out;
-moz-transition:opacity .5s linear, top .5s ease-out;
-ms-transition:opacity .5s linear, top .5s ease-out;
-o-transition:opacity .5s linear, top .5s ease-out;
transition:opacity .5s linear, top .5s ease-out;
}

/*or add fade-scale class*/

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.bg-img-androids {
    background: url(/img/jaxx-multiple-phones.png) center no-repeat;
    background-size: contain;
}
.bg-img-multidevice-outline {
    background: url(/img/jaxx-multidevice-outline-3.svg) center;
    background-size: contain;
}
/* feawures svg geometric shapes*/

.bg-img-svg-shapes {
    background: url(/img/jaxx-geo-shapes-2.svg) center;
    background-size: cover;
}
.heart-list-icon {
    width: 40px;
}


/*  features page ======================*/

/* swiper */

    span.swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        display: inline-block;
        border-radius: 100%;
        background: #d6d6d6;
        opacity: .5;
    }

    .swiper-pagination-white .swiper-pagination-bullet-active {
        background: #fff;
        color: #fff;
        opacity: .9;
    }

    .swiper-container {
      width: 100%;
      height: 100vh;
      background: #000;
    }
    .swiper-slide {
      font-size: 18px;
      color:#fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
    }
    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
    /*bubbles*/
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1476611317561-60117649dd94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8618fb66616c1d53a41705312c034068&auto=format&fit=crop&w=1050&q=80);
    /* mountains*/
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05cc20d5b0bde7ae0d12f916c11aa18e&auto=format&fit=crop&w=1078&q=80);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    .swiper-slide .title {
/*      font-size: 41px;*/
      font-weight: 300;
    }
    .swiper-slide .subtitle {
      font-size: 21px;
    }
    .swiper-slide .text {
        width: 75%;
    }
    
    /*== features slides =====*/

      .bg-slide-1 {
          background: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/607de731234507.564a1d2420e5f.gif) center no-repeat;
          background: url(/img/jaxx-multi-platform.png) center no-repeat;
          background-size: 70%;
      }
      .bg-slide-2 {
          background: url(https://s.aolcdn.com/hss/storage/midas/af0ce559ac23bed7ce65042d294e3659/205509947/share_location_english_ios_blog.gif) center no-repeat;
          background: url(/img/jaxx-two-devices.png) center no-repeat;
          background-size: 60%;
      }
      .bg-slide-3 {
          background: url(/img/jaxx-multiple-phones.png) center no-repeat;
          background-size: 60%;
      }
      .bg-slide-4 {
          background: url(/img/jaxx-Block-Exp.mov) center no-repeat;
          background-size: 90%;
      }
      .bg-slide-5 {
          background: url(https://bornmkg.com/wp-content/uploads/2015/07/ezgif.com-resize.gif) center no-repeat;
          background-size: 60%;
      }
      .bg-slide-6 {
          background: url(http://78.media.tumblr.com/1b0cf14a3c5fe3de19fe69d162d74f7a/tumblr_msyxgubnuu1s9ye2lo1_400.gif) center no-repeat;
          background-size: contain;
      }

/* downloads ======================*/

/* img from pexels */
.bg-img-banner-downloads {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/jaxx-jump-2.jpg) center;
    background-size: cover;
}

/* security ======================*/

/* img-jaxx-security on homepage source = pixabay */
/* security page banner source = pixabay */
.bg-img-banner-security {
    /*tvs b&w */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-security-tvs.jpg) center top;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/img/jaxx-security-tvs-redux.jpg) center top;
    background-size: cover;
    background-attachment: fixed;
}
.security-shield {
    top: 0px; 
    width: 300px;
}
.img-shield {
    opacity: 0.2;
    height: auto;
    margin: 0 auto;
    position: absolute;
    width: 400px;
    z-index: 0;
}
.bg-img-jaxx-hand {
    background: url(/img/jaxx-hand-device.jpg) center;
    background-size: cover;
}
.bg-img-hand-device {
    background: url(/img/jaxx-hand-device.jpg) center;
    background-size: cover;
}
/*Photo by Helena Lopes on Unsplash*/
.bg-img-people-1 {
    background: url(/img/jaxx-four-people.jpeg) center;
    background-size: cover;
}
/* pexels */
.bg-img-encryption {
    background: url(/img/jaxx-encryption.jpg) center;
    background-size: cover;
}


/* community ======================*/
    
/*Photo by Jack Finnigan on Unsplash*/
.bg-img-street-pano {
    background: url(/img/jaxx-street-pano.jpg) center;
    background-size: cover;
}
/* support ======================*/

#support h1 {
    font-size: 8vmin; 
}
/* img from pexels */
.bg-img-banner-support {
    background: linear-gradient(rgb(0,0,0,0.4), rgba(0,0,0,0.4)), url(/img/jaxx-support-banner.jpg) center;
/*    background: linear-gradient(rgb(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1389101/pexels-photo-1389101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;*/
    background-size: cover;
    background-attachment: fixed;
}
/*Photo by Anthony DELANOIX on Unsplash*/
.bg-img-support-welcome {
    background: url(/img/jaxx-support-welcome.jpg) center;
/*    background: url(https://images.pexels.com/photos/1389101/pexels-photo-1389101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;*/
    background-size: cover;
}


/* changelog ======================*/

.bg-img-banner-changelog {
    background: linear-gradient(rgb(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/877699/pexels-photo-877699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background-size: cover;
    background-attachment: fixed;
}

/* legal ======================*/

.bg-img-banner-legal {
    background: linear-gradient(rgb(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/877699/pexels-photo-877699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
    background-size: cover;
    background-attachment: fixed;
}

/* legal page sticky navbar */

/*sticky header position*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 1000;
    width: 100%;
}

/* third parties */

/*Photo by 13on on Unsplash*/
.bg-img-banner-thirdparties {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-people-1.jpeg) center;
    background-size: cover;
    background-attachment: fixed;
}

/* features phone slider ======================*/

/* pexels */
.bg-img-banner-features {
    background: linear-gradient(rgb(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-features-banner.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}

/* unsplash */
.bg-img-testimonials {
    background: url(/img/jaxx-testimonials.jpeg) center;
    background-size: cover;
    background-attachment: fixed;
}
/* pexels */
.bg-img-banner-community {
    background: linear-gradient(rgb(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/jaxx-community-banner.jpg) center;
    background-size: cover;
/*    background: url(/img/jaxx-community-banner-redux.jpg);*/
}

/* section styles ======================*/


/* nav ======================*/

#home nav, 
#home .navbar {
	background: transparent;
    border-bottom: 0;
    transition: all .3s ease-in-out; 
}
nav,
.navbar {
    background: rgb(0, 0, 0, 0.3);
    border-bottom: 1px solid lightgrey;
    transition: all .3s ease-in-out;    
}
.nav-link,
.nav-item {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}
nav .active {
    color: #ff6902;
}
/* for navbar change color on scroll */
#home navbar.fixed-top.scrolled,
.navbar.fixed-top.scrolled {
    border-bottom: 1px solid rgba(38, 65, 118);
    border-bottom: none;
    background-color: rgba(38, 65, 118) !important;
    transition: all 200ms ease-in-out;
}
/* mobile nav toggler rotate on hover */
.jaxx-mobile-menu {
    transition: all .3s ease-in-out;
}
.jaxx-mobile-menu:hover {
    color: white;
    transform: rotate(90deg);
}

/*  icons */

i {
    font-size: 7vmin;
    padding: 20px 30px;
}
.icon {
    font-size: 50px;
}

#socialProof i {
    color: transparent;
    font-size: 10vmin;
    -webkit-text-stroke: 2px grey;
    -webkit-text-stroke: 2px #ff6902;
}

/* home ======================*/


/* bs carousel */

/*stop slides from changing size w text*/
.item .active {
    margin: auto;
}
/* make carousel full screen */
/*
.carousel,.item {height:100%;}
.carousel-inner{height:100%;}
*/

/*  footer ======================*/

/* pexels */
.bg-img-footer {
    background: url(/img/jaxx-footer.jpeg) center;
    background-size: cover;
}

footer li a {
    font-size: 18px;
}
.footer-leaf {
    height: 40px;    
}
.copyright {
    background: #ff6902;
}


/* media queries ======================*/

@media (max-width: 1200px) {
    /*    md width class */
    .downloads-img {
        height: auto;
        width: 100%;  
    }
}

@media (max-width: 992px) {
    /*  mobile menu */
    .navbar-toggler {
        padding: 0; 
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0; 
    }
    .nav-link {
        border-top: 1px solid lightgrey;
        padding: 1rem 1rem;
    }
    .nav-link:hover {
        color: #ff6902;
    }
    div[class*="bg-img"] {
        min-height: 50vh;
    }
    /*  make all bg images scroll */
    div[class*="bg-img"] {
        background-attachment: scroll;
    }
     /*  make all 100vh divs 50vh */
    div[class*="min-100"] {
        min-height: 70vh;
    }
    .page-title {
        font-size: 12vmin;
        letter-spacing: -5px;
    }
    /*features device styles*/
    .features-device {
        height: auto;
        width: 35%;
    }
    
    /* flex order */
    .o-1 {
        order: -1;
    }
    .o-2 {
        order: 2;
    }
    .o-3 {
        order: 3;
    }
    .o-4 {
        order: 4;
    }
    .o-12 {
        order: 12;
    }
    .partner-logo {
        height: auto;
        width: 70%;
    }
    /* front page downloads img*/
    .downloads-img {
        height: auto;
        left: 0;
        width: 100%;  
    }
     /* download buttons reduce size */
    #download .btn-lg {
        font-size: 18px;
        padding: .375rem .75rem;
        padding: 5px 10px;
    } 
    .btn-lg {
        font-size: 18px;
        padding: .375rem .75rem;
        padding: 5px 10px;
    } 
}
    
@media (max-width: 768px) {
    .jaxx-logo-jumbo {
        height: auto;
        margin-bottom: -10;
        width: 200px;  
    }
    .bg-fs-img-banner-2 {
        background-attachment: scroll;
    }
    /* homepage front title */
    .site-title {
        font-size: 8vmin;
    }
    .site-sub-title {
        font-size: 5vmin;
    }
    .page-title {
        font-size: 15vmin;
        font-weight: 900;
        letter-spacing: -3px;
        line-height: 85%;
    }
    /* partner logo resize */
      .partner-logo {
        height: auto;
        width: 70%;
    }

   /*features device styles*/
    .features-device {
        height: auto;
        width: 40%;
    }

    /* features page: not using =====*/
    
    .swiper-slide .text {
        width: 100%;
    }
    /* security page*/
    .img-shield {
        width: 300px;
    }
    /*  make all 100vh divs 50vh */
    div[class*="min-100"] {
        min-height: 70vh;
    }
}
    
    
@media screen and (max-width: 601px) {
    /* nav */
    #home nav,
    #home .navbar,
    nav,
    .navbar {
        background-color: rgba(38, 65, 118) !important;
        border-bottom: 1px solid transparent;
    }   
    .jaxx-logo {
        width: 300px;
    }
    .jaxx-logo-text {
        width: 120px;
    }
    .jaxx-logo-heart {
        width: 100px;
    }
    /*homepage site title */
    .site-title {
        font-size: 11vw;
        margin-bottom: 10px;
    }
    /* cookies banner button */
    .cc-btn {
        border-width: 1px;
        width: 100%;
    }
    /* partner logo resize */
      .partner-logo {
        height: auto;
        width: 60%;
    }
    /* download call to action heading text */
    #cta h2 {
        font-size: 22px;
    }
    .p-5-sm {
      padding: 3rem;  
    }
    /*features device styles*/
    .features-device {
        height: auto;
        width: 50%;
    }
    
    /* support banner title */
    #support h1 {
        font-size: 9vmin;
        padding-top: 15px;
    }
    .o-1 {
        order: -1;
    }
    .o-12 {
        order: 12;
    }
    footer p {
    font-size: 14px;
    }
    .footer-leaf {
        height: 35px;
    }
}

/* make features page modal 80% width */
@media (min-width: 576px) {
.modal-dialog {
    max-width: 80%;
    }
}

@media (min-width: 576px) {

.bg-img-hand-device-2 {
    background: url(/img/jaxx-hand-device.jpg) center;
    background-size: cover;
    }
}

@media (max-width: 400px) {
    /* partner logo resize */
      .partner-logo {
        height: auto;
        width: 75%;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
